html,body, div, input, label,footer, span{
    font-family: sans-serif;
    font-size:20px;
}

::-webkit-input-placeholder {
  font-style: italic;
  color:#D9D9D9;
}

input#taskField{
    height:50px;
    width:500px;
    border:0;
    border-bottom: 1px solid #D9D9D9;
}

textarea:focus, input:focus{
    outline: none;
}

footer span{
    display:inline-block;
    margin-top:10px;
    font-size: 15px;
    color:#777;
}

span#left-items{
    margin-right:50px;
}

span#all, span#active, span#completed{
    cursor: pointer;
    margin-left:10px;   
    padding:4px;
}

div#task-container{
    width:500px;
}
div#task-container div{
    height:35px;
    vertical-align: center;
    padding-top:15px;
    padding-bottom:10px;
    border-bottom: 1px solid #D9D9D9;
}
div.todo{
    display: inline-block;
}

.done{
    text-decoration: line-through;
    color:#D9D9D9;
}

span.close{
    cursor: pointer;
    color:#cc9a9a;
    float:right;
}

input[type="checkbox"]{
   margin-right:15px;
}
